---
import avatar from "/avatar.png"
import {Astronav, MenuItems, MenuIcon} from "astro-navbar"
---
<nav class="relative mx-8 mb-24 mt-1">
    <Astronav>
        <div class="flex justify-between items-center">
            <div>
                <img src={avatar} alt="avatar.png">
            </div>
            <h1 class="text-lg font-bold"><a href="./">Hua.</a></h1>
            <MenuIcon class="w-8 h-8 text-gray-800"/>
            <!--<div class="space-y-1">
                <span class="block h-0.5 w-8 bg-black"></span>
                <span class="block h-0.5 w-8 bg-black"></span>
                <span class="block h-0.5 w-8 bg-black"></span>
            </div> -->
        </div>
    </Astronav>
</nav>
